<h2><%= address.parking.title %></h2>
<%= image_tag(address.parking.photo, width: '100%') %>
<p><%= address.address %>,<br><%= address.post_code %> - <%= address.city %></p>
<p><%= address.parking.price %> € par jour</p>
