
<div class="container-content-index">
  <div class="container-parkings">
    <% @parkings.each do |parking| %>
      <div>
        <div class="card-parking">
          <%= image_tag(parking.photo) %>
          <div class="card-parking-infos">
            <h2><%= parking.title %></h2>
            <p><%= parking.price %> € par jour</p>
             <div class="button-container">
                    <%= link_to "Réserver!", "/parkings/#{parking.id}", class: "btn btn-primary align-text-bottom" %>
                  </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id='map'
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
